.header{
    background-color: rgb(59, 157, 228);
    display: flex;
    padding: 0.7em;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
}
.logocont{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 3.5rem;
}
.logocont span{
    font-family: 'Fredoka';
    font-size: 2.3rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}
.searchbox{
    display: flex;
    align-items: center;
    background-color: rgb(233, 218, 131);
    border-radius: 2em;
}
.searchbox input{
    border: none;
    background: none;
    font-size: 1.3rem;
    font-weight: 500;
    height: 100%;
    padding: 0.4em 1.5em 0.4em 1.5em;
    color: rgb(100, 100, 100)
}
.searchbox input:focus{
    outline: unset;
}
.searchbox button{
    border: none;
    background: none;
    cursor: pointer;
    height: 100%;
    font-size: 1.3rem;
    padding: 0.3em 0.4em 0.3em 0.4em;
    border-radius: 1.5em;
    transition: 0.3s;
}
.searchbox button:hover{
    background-color: rgb(251, 234, 135);
}
.searchbox svg{
    fill: rgb(100, 100, 100);
    width: 2rem;
    height: 2rem;
}

@media only screen and (max-width: 611px){
    .header{
        flex-direction: column;
    }
}
